<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span>Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Company</span></dt>
                <dd>
                    <span>{{customer.company}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{customer.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{customer.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span>Dot</span></dt>
                <dd>
                    <span>{{customer.dot}}</span>
                </dd>
                <dt><span>Mc</span></dt>
                <dd>
                    <span>{{customer.mc}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{customer.phoneNumber}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{customer.address}}</span>
                </dd>
                <dt><span>Street Address</span></dt>
                <dd>
                    <span>{{customer.streetAddress}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{customer.city}}</span>
                </dd>
                <dt><span>State Province</span></dt>
                <dd>
                    <span>{{customer.stateProvince}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{customer.country}}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{customer.postalCode}}</span>
                </dd>
                <dt><span>Billing Address</span></dt>
                <dd>
                    <div *ngIf="customer.billingAddress">
                        <a [routerLink]="['/location', customer.billingAddress?.id, 'view']">{{customer.billingAddress?.city}}</a>
                    </div>
                </dd>
                <dt><span>Contact</span></dt>
                <dd>
                    <div *ngIf="customer.contact">
                        <a [routerLink]="['/contact', customer.contact?.id, 'view']">{{customer.contact?.designation}}</a>
                    </div>
                </dd>
                <dt><span>Insurance</span></dt>
                <dd>
                    <div *ngIf="customer.insurance">
                        <a [routerLink]="['/insurance', customer.insurance?.id, 'view']">{{customer.insurance?.providerNumber}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
