<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-customer-heading">Create or edit a Customer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!customer.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="customer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                        [(ngModel)]="customer.company" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="customer.firstName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="customer.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="customer.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dot">Dot</label>
                    <input type="number" class="form-control" name="dot" id="field_dot"
                        [(ngModel)]="customer.dot" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mc">Mc</label>
                    <input type="number" class="form-control" name="mc" id="field_mc"
                        [(ngModel)]="customer.mc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="customer.phoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="customer.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_streetAddress">Street Address</label>
                    <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                        [(ngModel)]="customer.streetAddress" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="customer.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stateProvince">State Province</label>
                    <input type="text" class="form-control" name="stateProvince" id="field_stateProvince"
                        [(ngModel)]="customer.stateProvince" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_country">Country</label>
                    <select class="form-control" name="country" [(ngModel)]="customer.country" id="field_country" >
                        <option value="USA">USA</option>
                        <option value="CANADA">CANADA</option>
                        <option value="MEXICO">MEXICO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                        [(ngModel)]="customer.postalCode" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_billingAddress">Billing Address</label>
                    <select class="form-control" id="field_billingAddress" name="billingAddress" [(ngModel)]="customer.billingAddress" required>
                        <option *ngIf="!editForm.value.billingAddress" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === customer.billingAddress?.id ? customer.billingAddress : locationOption" *ngFor="let locationOption of billingaddresses; trackBy: trackLocationById">{{locationOption.city}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.billingAddress?.dirty && editForm.controls.billingAddress?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.billingAddress?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contact">Contact</label>
                    <select class="form-control" id="field_contact" name="contact" [(ngModel)]="customer.contact">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactOption.id === customer.contact?.id ? customer.contact : contactOption" *ngFor="let contactOption of contacts; trackBy: trackContactById">{{contactOption.designation}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_insurance">Insurance</label>
                    <select class="form-control" id="field_insurance" name="insurance" [(ngModel)]="customer.insurance">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="insuranceOption.id === customer.insurance?.id ? customer.insurance : insuranceOption" *ngFor="let insuranceOption of insurances; trackBy: trackInsuranceById">{{insuranceOption.providerNumber}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
