<!-- <jhi-page-ribbon></jhi-page-ribbon> -->



<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="sideNavMain"  >

<div class="sidenav">
  <a href="#about">Invoice</a>
  <a href="#services">Customers</a>
  <a href="#clients">Invoice Item</a>
  <a href="#contact">Estimate</a>
   <a href="#about">Invoice</a>
  <a href="#services">Customers</a>
  <a href="#clients">Invoice Item</a>
  <a href="#contact">Estimate</a>
   <a href="#about">Invoice</a>
  <a href="#services">Customers</a>
  <a href="#clients">Invoice Item</a>
  <a href="#contact">Estimate</a>
   <a href="#about">Invoice</a>
  <a href="#services">Customers</a>
  <a href="#clients">Invoice Item</a>
  <a href="#contact">Estimate</a>
</div>

 
 <div class="sideNavMain-Body">
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>
</div>
</div>
