<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-booking-item-heading">Create or edit a Booking Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bookingItem.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bookingItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="bookingItem.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pickup">Pickup</label>
                    <div class="d-flex">
                        <input id="field_pickup" type="datetime-local" class="form-control" name="pickup" [(ngModel)]="pickup" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_drop">Drop</label>
                    <div class="d-flex">
                        <input id="field_drop" type="datetime-local" class="form-control" name="drop" [(ngModel)]="drop" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_source">Source</label>
                    <input type="text" class="form-control" name="source" id="field_source"
                        [(ngModel)]="bookingItem.source" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_destination">Destination</label>
                    <input type="text" class="form-control" name="destination" id="field_destination"
                        [(ngModel)]="bookingItem.destination" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currentLocation">Current Location</label>
                    <input type="text" class="form-control" name="currentLocation" id="field_currentLocation"
                        [(ngModel)]="bookingItem.currentLocation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="bookingItem.status" id="field_status" >
                        <option value="PICKEDUP">PICKEDUP</option>
                        <option value="ONROAD">ONROAD</option>
                        <option value="DELIVERED">DELIVERED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_detention">Detention</label>
                    <input type="number" class="form-control" name="detention" id="field_detention"
                        [(ngModel)]="bookingItem.detention" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_chasisInTime">Chasis In Time</label>
                    <div class="d-flex">
                        <input id="field_chasisInTime" type="datetime-local" class="form-control" name="chasisInTime" [(ngModel)]="chasisInTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pod">Pod</label>
                    <div>
                        <img [src]="'data:' + bookingItem.podContentType + ';base64,' + bookingItem.pod" style="max-height: 100px;" *ngIf="bookingItem.pod" alt="bookingItem image"/>
                        <div *ngIf="bookingItem.pod" class="form-text text-danger clearfix">
                            <span class="pull-left">{{bookingItem.podContentType}}, {{byteSize(bookingItem.pod)}}</span>
                            <button type="button" (click)="clearInputImage('pod', 'podContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_pod" (change)="setFileData($event, bookingItem, 'pod', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="pod" id="field_pod"
                        [(ngModel)]="bookingItem.pod" />
                    <input type="hidden" class="form-control" name="podContentType" id="field_podContentType"
                        [(ngModel)]="bookingItem.podContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hazmat">Hazmat</label>
                    <input type="checkbox" class="form-control" name="hazmat" id="field_hazmat"
                        [(ngModel)]="bookingItem.hazmat" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_recievedBy">Recieved By</label>
                    <input type="text" class="form-control" name="recievedBy" id="field_recievedBy"
                        [(ngModel)]="bookingItem.recievedBy" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_equipment">Equipment</label>
                    <select class="form-control" id="field_equipment" name="equipment" [(ngModel)]="bookingItem.equipment" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="equipmentOption.id === bookingItem.equipment?.id ? bookingItem.equipment : equipmentOption" *ngFor="let equipmentOption of equipment; trackBy: trackEquipmentById">{{equipmentOption.number}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_driver">Driver</label>
                    <select class="form-control" id="field_driver" name="driver" [(ngModel)]="bookingItem.driver" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="driverOption.id === bookingItem.driver?.id ? bookingItem.driver : driverOption" *ngFor="let driverOption of drivers; trackBy: trackDriverById">{{driverOption.firstName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mainBooking">Main Booking</label>
                    <select class="form-control" id="field_mainBooking" name="mainBooking" [(ngModel)]="bookingItem.mainBooking" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookingOption.id === bookingItem.mainBooking?.id ? bookingItem.mainBooking : bookingOption" *ngFor="let bookingOption of bookings; trackBy: trackBookingById">{{bookingOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
